@model IEnumerable<Late_Staff.Models.LateArrival>
@{
    ViewData["Title"] = "Late Staffs";
}
    <h1> @ViewData["Ti"]</h1>

    <h3>
        <label for="selectDate ">Select Date</label>
    </h3>
    <div class="text-center">
        <body>
        <form asp-controller="StaffMember" asp-action="CheckLateStaffs" method="get">
                <input type="date" id="selectDate" name="selectDate" class="form-control" />
                <button type="submit" class="btn btn-primary">Check</button>
            </form>
        </body>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Staff ID</th>
                <th>Arrival Time</th>
                <th>Late Arrival</th>
            </tr>
        </thead>
        @foreach (var lateArrival in Model)
    {
        <tr>
           <td>@lateArrival.Name</td>
           <td>@lateArrival.StaffId</td>
           <td>@lateArrival.ArrivalTime.ToString("HH:mm:ss")</td>
           <td>@lateArrival.Islate </td>
        </tr>
    }
</table>